#root {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}

.Card-Precio{
  font-size: 15px;
  color: #6e6e6e;
  font-weight: bold;
}

.Card-Texto{
  font-size: 25px;
  color: #bdbdbd;
}

.Card-Title {
  margin-bottom: 20px;
  font-size: 30px;
}

.Div-Contenedor {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 100vw;
  gap: 30px;
  background-color: rgb(34, 34, 34);
  align-content: center;
}

.Contenedor-App {
  display: grid;
  grid-template-columns: 1fr auto;
  min-height: 100vh;
  background-color: #282c34;
}

.Navbar {
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.Navbar-Links{
  list-style-type: none;
  gap: 20px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  padding: 0;

}

.titulo{
  text-transform: uppercase;
  font-size: 40px;
}

.Footer{
  height: 10vh;
}